{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section 
        class="avatar" 
        style="background: url(https://source.unsplash.com/collection/332741/900x900) no-repeat center center">
    </section>

    <section class="details">
        <h3>Detalhes</h3>

        <div class="item">
            <div>Professor</div>
            <div>Pedro Salim</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>22</div>
        </div>

        <div class="item">
            <div>Grau de escolaridade</div>
            <div>Bacharel</div>
        </div>

        <div class="item">
            <div>Tipo de aula</div>
            <div>À distância</div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
                <span>Matemática</span>
                <span>Lógica de Programação</span>
                <span>AEDS 1</span>
            </div>
        </div>

        <div class="item">
            <div>Valor hora</div>
            <div>R$50,00</div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>01/02/2020</div>
        </div>

    </section>
</div>

{% endblock content %}